DemonioPortal/Service References/wsVentasMarengo/Grower.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="Grower" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IGrower_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.marengosite.com/WebService/Grower.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.marengosite.com/WebService/Grower.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.marengosite.com/WebService/Grower.svc?xsd=xsd2" namespace="MFC.WebService" />
      <xsd:import schemaLocation="http://www.marengosite.com/WebService/Grower.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IdentityLibrary.ProducePRO.Reports.GrowerWebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGrower_GetDeals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeals" />
  </wsdl:message>
  <wsdl:message name="IGrower_GetDeals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDealsResponse" />
  </wsdl:message>
  <wsdl:message name="IGrower_GetNetSales_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNetSales" />
  </wsdl:message>
  <wsdl:message name="IGrower_GetNetSales_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNetSalesResponse" />
  </wsdl:message>
  <wsdl:message name="IGrower_GetGrowerTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGrowerTransactions" />
  </wsdl:message>
  <wsdl:message name="IGrower_GetGrowerTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGrowerTransactionsResponse" />
  </wsdl:message>
  <wsdl:portType name="IGrower">
    <wsdl:operation name="GetDeals">
      <wsdl:input wsaw:Action="http://tempuri.org/IGrower/GetDeals" message="tns:IGrower_GetDeals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGrower/GetDealsResponse" message="tns:IGrower_GetDeals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNetSales">
      <wsdl:input wsaw:Action="http://tempuri.org/IGrower/GetNetSales" message="tns:IGrower_GetNetSales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGrower/GetNetSalesResponse" message="tns:IGrower_GetNetSales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGrowerTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/IGrower/GetGrowerTransactions" message="tns:IGrower_GetGrowerTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGrower/GetGrowerTransactionsResponse" message="tns:IGrower_GetGrowerTransactions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IGrower" type="tns:IGrower">
    <wsp:PolicyReference URI="#WSHttpBinding_IGrower_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDeals">
      <soap12:operation soapAction="http://tempuri.org/IGrower/GetDeals" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNetSales">
      <soap12:operation soapAction="http://tempuri.org/IGrower/GetNetSales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGrowerTransactions">
      <soap12:operation soapAction="http://tempuri.org/IGrower/GetGrowerTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Grower">
    <wsdl:port name="WSHttpBinding_IGrower" binding="tns:WSHttpBinding_IGrower">
      <soap12:address location="http://www.marengosite.com/WebService/Grower.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://www.marengosite.com/WebService/Grower.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>