DemonioPortal/Service References/wsVentasMarengoV2/Grower.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="Grower" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.marengosite.com/WebServicesV2/Grower.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.marengosite.com/WebServicesV2/Grower.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.marengosite.com/WebServicesV2/Grower.svc?xsd=xsd2" namespace="MFC.WebService" />
      <xsd:import schemaLocation="http://www.marengosite.com/WebServicesV2/Grower.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IdentityLibrary.ProducePRO.Reports.GrowerWebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGrower_GetDeals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeals" />
  </wsdl:message>
  <wsdl:message name="IGrower_GetDeals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDealsResponse" />
  </wsdl:message>
  <wsdl:message name="IGrower_GetNetSales_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNetSales" />
  </wsdl:message>
  <wsdl:message name="IGrower_GetNetSales_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNetSalesResponse" />
  </wsdl:message>
  <wsdl:message name="IGrower_GetGrowerTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGrowerTransactions" />
  </wsdl:message>
  <wsdl:message name="IGrower_GetGrowerTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGrowerTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="IGrower_GetGrowerTransactionsV3_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGrowerTransactionsV3" />
  </wsdl:message>
  <wsdl:message name="IGrower_GetGrowerTransactionsV3_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGrowerTransactionsV3Response" />
  </wsdl:message>
  <wsdl:message name="IGrower_GetNetSalesV2_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNetSalesV2" />
  </wsdl:message>
  <wsdl:message name="IGrower_GetNetSalesV2_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNetSalesV2Response" />
  </wsdl:message>
  <wsdl:portType name="IGrower">
    <wsdl:operation name="GetDeals">
      <wsdl:input wsaw:Action="http://tempuri.org/IGrower/GetDeals" message="tns:IGrower_GetDeals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGrower/GetDealsResponse" message="tns:IGrower_GetDeals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNetSales">
      <wsdl:input wsaw:Action="http://tempuri.org/IGrower/GetNetSales" message="tns:IGrower_GetNetSales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGrower/GetNetSalesResponse" message="tns:IGrower_GetNetSales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGrowerTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/IGrower/GetGrowerTransactions" message="tns:IGrower_GetGrowerTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGrower/GetGrowerTransactionsResponse" message="tns:IGrower_GetGrowerTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGrowerTransactionsV3">
      <wsdl:input wsaw:Action="http://tempuri.org/IGrower/GetGrowerTransactionsV3" message="tns:IGrower_GetGrowerTransactionsV3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGrower/GetGrowerTransactionsV3Response" message="tns:IGrower_GetGrowerTransactionsV3_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNetSalesV2">
      <wsdl:input wsaw:Action="http://tempuri.org/IGrower/GetNetSalesV2" message="tns:IGrower_GetNetSalesV2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGrower/GetNetSalesV2Response" message="tns:IGrower_GetNetSalesV2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGrower" type="tns:IGrower">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDeals">
      <soap:operation soapAction="http://tempuri.org/IGrower/GetDeals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNetSales">
      <soap:operation soapAction="http://tempuri.org/IGrower/GetNetSales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGrowerTransactions">
      <soap:operation soapAction="http://tempuri.org/IGrower/GetGrowerTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGrowerTransactionsV3">
      <soap:operation soapAction="http://tempuri.org/IGrower/GetGrowerTransactionsV3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNetSalesV2">
      <soap:operation soapAction="http://tempuri.org/IGrower/GetNetSalesV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Grower">
    <wsdl:port name="BasicHttpBinding_IGrower" binding="tns:BasicHttpBinding_IGrower">
      <soap:address location="http://www.marengosite.com/WebServicesV2/Grower.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>